@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Roboto:ital,wght@1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: rgba(26, 32, 44);
  border: 0 solid #e5e7eb;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

li {
  list-style: none;
}

.purple {
  color: rgba(100, 21, 255);
}

.white {
  color: white;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}

.row-features {
  max-width: 1024px;
}

.row-faq {
  max-width: 896px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.25;
}

.container {
  padding-top: 200px;
}

h3 {
  margin-left: 12px;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
}

h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1em;
  max-width: 300px;
  margin-bottom: 16px;
}

h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(36, 62, 99);
}

h2 {
  font-weight: 900;
  letter-spacing: 0.025em;
  font-size: 3rem;
  color: rgba(36, 62, 99);
}

.para {
  padding-top: 24px;
  max-width: 576px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgba(124, 139, 161);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

button {
  cursor: pointer;
}

/* NAV  */

nav,
.nav__container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover .logo__name {
  color: rgba(100, 21, 255);
  cursor: pointer;
}

.logo__image--wrapper {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__image {
  width: 100%;
}

.logo__name {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.025em;
  color: black;
}

.nav__link--list {
  display: flex;
}

.extra-padding {
  margin-right: 48px;
}

.button__menu {
  display: none;
}

.nav__link {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition: all 150ms ease;
  margin: 0px 24px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255,255,255 var(--tw-bg-opacity));;
}

.nav__link:hover {
  color: #6415ff;
  
  border-bottom: 2px solid #6415ff;
}

.nav__link--item--border {
  font-weight: 600;
  font-size: 0.875rem;
  background-color: rgba(100, 21, 255);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.nav__link--item--border:hover {
  filter: brightness(85%);
}

.menu__backdrop {
  position: fixed;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: 1.5rem 1rem;
  padding: 2rem;
  border-width: 1px;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  
  visibility: hidden;
  opacity: 0;
}

.button__menu--close{
  position: absolute;
  top: 28px;
  right: 24px;
}

.menu__list--button{
  /* margin-top: 1rem; */
  padding-top: 1rem;
}
.menu__sign{
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2.25rem;
}

.menu--open{
  
  overflow-y: hidden;
}

.menu--open .menu__backdrop{
  max-height: fit-content;
  visibility: visible;
  opacity: 1;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 4px 0px;
}

.menu__list{
  margin: 8px 0px;
  padding-bottom: 2px;
}

.menu__link{
  font-size: 1.125rem;
  padding-bottom: 4px;
}

/* landing */

.landing {
  display: flex;
  width: 100%;
  padding-top: 64px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 41.6667%;
  padding-top: 28px;
}

.description__para {
  width: 100%;
  margin: 32px 0;
  line-height: 1.15;
  font-size: 1.125rem;
  text-align: left;
  color: rgba(36, 62, 99);
  overflow: hidden;
  line-height: 1.5;
}

.description__input {
  display: flex;
  max-width: 28rem;
  position: relative;
  overflow: hidden;
  border: 2px solid lightgray;
  border-radius: 9999px;
  transition: border 300ms ease;
  max-height: 68px;
}

.description__input:hover {
  border: 2px solid darkgray;
}

.description__input:focus-within {
  border: 2px solid #6415ff;
}

.description__input--email {
  border: none;
  padding-left: 2rem;
  padding-right: 12rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  font-weight: 500;
  line-height: 1.55;
  font-size: 100%;
}

.description__input--email::placeholder {
  color: rgba(160, 174, 192);
  opacity: 1;
}

.description__input--email:focus {
  outline: none;
}

.description__input--btn {
  position: absolute;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  width: 10rem;
  height: 90%;
  line-height: 1;
  top: 3px;
  right: 4px;
  bottom: 0px;
  background-color: rgba(100, 21, 255);
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  font-size: 100%;
}

.description__input--btn:hover {
  background-color: rgba(60, 13, 153);
}

.main__image--wrapper {
  width: 58.3333%;
  max-width: 747px;
  display: flex;
  align-items: center;
}

.main__image {
  width: 100%;
}

.description__trust {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.description__trust--words {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: rgba(160, 174, 192);
}

.description__trust--image-wrapper {
  margin-right: 8rem;
  margin-top: 16px;
}

.description__trust--image {
  width: 100%;
  opacity: 0.5;
}

/* FEATURES */

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.services__item {
  width: calc(100% / 3);
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 2rem 0.5rem;
}

.services__item--image-wrapper {
  border: 1px solid #e5e7eb;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem;
  flex-shrink: 0;
}

.services__item--text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.services__item--title {
  color: #243e63;
  /* margin-top: 1rem; */
  letter-spacing: 0.025rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.services__item--para {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  color: rgba(124, 139, 161);
}

/* QUALITY WORK */

.quality {
  display: flex;
}

.quality__description {
  padding-top: 32px;
  width: 50%;
  margin-right: 64px;
}

.quality__image--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality__image {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
}

.hundered {
  max-width: 100%;
}

.learn-more {
  background-color: rgba(100, 21, 255);
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  margin-top: 32px;
}

/* STEPS*/

.steps {
  display: flex;
}

.steps__image--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__image {
  width: 100%;
}

.steps__description {
  margin-left: 64px;
  padding: 32px 0px;
}

.steps__list {
  margin-top: 48px;
}

.steps__item {
  display: flex;
}

.steps__item:not(:first-child) {
  margin-top: 32px;
}

.steps__item--number {
  font-weight: 600px;
  font-size: 2.25rem;
  line-height: 1;
  color: rgba(203, 213, 224);
}

.steps__item--description {
  margin-left: 24px;
  max-width: 320px;
}

.steps__item--para {
  margin-top: 12px;
  line-height: 2;
  font-size: 0.875rem;
  color: rgba(113, 128, 150);
}

/* VALUES */

.values {
  display: flex;
}

.values__description {
  width: 50%;
  margin-right: 64px;
}

.values__image--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.values__image {
  width: 100%;
}

.values__grid {
  display: flex;
  margin-top: 32px;
}

.value {
  width: 50%;
}

.values__icon--wrapper {
  background-color: rgba(154, 230, 180);
  text-align: center;
  padding: 0.25rem 0.5rem;
  /* flex-shrink: 0; */
  border-radius: 9999px;
  border-width: 0px;
}

.values__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgba(39, 103, 73);
}

.value__title {
  display: flex;
  align-items: flex-start;
}

.value__grid--description {
  margin-top: 16px;
  color: rgba(113, 128, 150);
  line-height: 1.625;
}

/* PRICING */

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing {
  display: flex;
  flex-direction: column;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan {
  position: relative;
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
  padding: 8px 32px 0px 32px;
  margin-top: 64px;
  margin-left: 4px;
  margin-right: 4px;
  max-width: 24rem;

  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

  border-radius: 0.5rem;
}

.plan--middle {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 0.5rem;
}

.plan__border {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 8px;
}

.plan__border--left {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__border--right {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__name {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

.plan__price {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.plan__cycle {
  color: rgba(160, 174, 192);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.625;
  text-align: center;
}

.plan__description {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  border-top-width: 2px;
  border-bottom-width: 2px;
  text-align: center;
}

.plan__description--title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.plan__description--feature {
  margin-top: 24px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(113, 128, 150, var(--tw-text-opacity));
}

.button--wrapper {
  padding: 32px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  color: white;
  --tw-border-opacity: 1;
  border-color: rgba(102, 126, 234, var(--tw-border-opacity));
}

.plan__button {
  /* background-color: rgba(100, 21, 255); */
  color: white;
  font-weight: 700;
  align-items: center;
  border-radius: 9999px;
  padding: 18px 32px;
  /* margin-top: 32px; */
  font-size: 0.875rem;
  width: 75%;
  letter-spacing: 0.05rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translateY(-0.1rem) translateX(0.1rem);
}

.plan__button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.button-left {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.button-middle {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(70, 15, 179, var(--tw-text-opacity));
}

.button-right {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* TESTIMONIALS  */

.testimonials {
  display: flex;
}

.test__image--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.test__image {
  max-width: 100%;
}

.test__description {
  width: 50%;
  padding-left: 64px;
}

.five-stars {
  margin-top: 40px;
}

.fa-star {
  color: rgba(246, 173, 85);
  margin-right: 6px;
  transform: scale(1.1);
}

.block {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}

.person {
  display: flex;
  justify-content: space-between;
}

.person__image-name {
  display: flex;
  width: 70%;
}

.person__icon--wrapper {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.person__icon {
  width: 100%;
  height: 100%;
}

.person__info {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.person__name {
  font-weight: 700;
  font-size: 1.25rem;
}

.person__position {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(124, 139, 161, var(--tw-text-opacity));
  /* padding-left: 4px; */
}

.arrows {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8px;
}

.arrow--wrapper {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6415ff;
  cursor: pointer;
}
.arrow {
  padding: 16px;
  margin: 0 12px;
  color: rgba(100, 21, 255);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  background-color: rgba(237, 242, 247);
  transition: all 300ms ease;
}

.divider {
  border-right: 1px solid #e5e7eb;
  height: 24px;
  margin: 12px 32px;
}

.arrow--wrapper:hover .arrow {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(80, 17, 204, var(--tw-text-opacity));
}

/* FAQS */
.faq {
  display: flex;
  flex-direction: column;
}

.faq__container {
  display: flex;
  flex-direction: column;
}

.faq__item {
  padding: 19px 40px;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.faq__item:hover {
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}

.faq__item--text {
  font-size: 1.25rem;
  font-weight: 600;
}

/* BOTTOM */

.bottom {
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  position: relative;
  text-align: left;
  padding: 96px 0px;
}

.bottom__container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
}

.bottom__text {
  width: 50%;
  font-size: 1.875rem;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  font-weight: 700;
}

.bottom__buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.get__started {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 101, 101, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 1.25rem 2.5rem;
  transition: all 300ms ease;
  margin-right: 32px;
  letter-spacing: 0.025em;
}

.get__started:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 62, 62, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(237, 242, 247, var(--tw-text-opacity));
}

.contact__us {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 1.25rem 2.5rem;
  background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border: 1px solid rgba(160, 174, 192, var(--tw-border-opacity));
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.contact__us:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(100, 21, 255, var(--tw-border-opacity));
}

/* FOOTER */

footer {
  --tw-bg-opacity: 1;
  background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
  padding: 96px 32px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  justify-content: space-between;
  padding-bottom: 64px;
  border-bottom: 2px solid rgb(116, 44, 255);
}

.link {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.list__item {
  /* display: inline; */
  padding-top: 12px;
  max-width: fit-content;
  color: white;
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
  border-bottom: 2px solid rgba(100, 21, 255, var(--tw-bg-opacity));
  transition: all300ms ease;
}

.list__item:hover {
  border-bottom: 2px solid rgb(247, 250, 252);
}

.very__bottom {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white__logo--wrapper {
  width: 2rem;
}

.white__logo {
  width: 100%;
}

.footer__name {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  margin-left: 8px;
}

.copyright {
  font-size: 1rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}

.socials__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: white;
  margin-right: 16px;
  transition: all 300ms ease;
  cursor: pointer;
}

.social:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .nav__link--list {
    display: none;
  }

  .button__menu {
    display: block;
    transform: scale(1.8);
    background-color: white;
  }

  .fa-bars {
    transition: all 300 ms;
  }

  .button__menu:hover .fa-bars {
    color: #6415ff;
  }

  /* LANDING */
  .landing {
    flex-direction: column;
    max-width: 512px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .description__header {
    font-size: 1.875rem;
    text-align: center;
  }

  .description__input {
    margin: 0 auto;
  }

  .description__para {
    text-align: center;
    font-size: 1rem;
  }

  .description__trust {
    margin-top: 48px;
  }

  .description__trust--words {
    text-align: center;
    font-size: 0.875rem;
  }

  .description__trust--image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .main__image--wrapper {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .para {
    font-size: 1rem;
  }

  h2 {
    font-size: 2.25rem;
  }
  /* SERVICES */

  .services {
    justify-content: space-around;
    padding: 0px 96px;
  }
  .services__item {
    width: 50%;
  }

  .services__item:nth-child(odd) {
    padding-right: 48px;
  }

  /* VALUES */

  .values__grid {
    flex-direction: column;
  }

  .value {
    width: 75%;
  }

  .value:nth-child(2) {
    margin-top: 48px;
  }

  /* PRICING */

  .plans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plan {
    width: 100%;
  }

  /* BLOCK */

  .bottom__container {
    flex-direction: column;
  }

  .bottom__text {
    width: 60%;
    text-align: center;
    padding-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 140px;
  }

  h5 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 12px;
  }

  h2 {
    text-align: center;
  }

  .para {
    text-align: center;
    font-size: 0.875rem;
  }

  .services {
    justify-content: space-around;
    /* padding: 0px 96px; */
  }
  .services__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* quality work */
  .quality {
    display: flex;
    flex-direction: column-reverse;
    max-width: 448px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .quality__description {
    width: 100%;
    margin-right: 0px;
  }

  .quality__image--wrapper {
    width: 100%;
  }

  .learn-more {
    margin: 0 auto;
    margin-top: 24px;
  }

  .steps {
    display: flex;
    flex-direction: column;
    max-width: 448px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .steps__image--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .steps__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .steps__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .steps__item--description {
    text-align: center;
    margin: 0 auto;
  }

  .steps__item--number {
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 2.5rem;
  }

  /* Values */

  .values {
    flex-direction: column-reverse;
    max-width: 448px;
    margin: 0 auto;
  }

  .values__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding-top: 32px;
  }

  .values__image--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .value {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .value__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 448px;
    margin: 0 auto;
  }

  .test__image--wrapper {
    width: 100%;
  }

  .test__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 24px;
    margin: 0 auto;

    /* padding-top: 32px; */
  }

  .block {
    text-align: center;
  }

  .person {
    width: 100%;
  }

  .bottom__text {
    font-size: 1.75rem;
  }

  /* footer */
  .link {
    width: 33%;
  }

  .links {
    justify-content: flex-start;
  }

  h5.footer--small {
    margin: 0;
    text-align: left;
  }

  .list {
    margin-top: 0;
  }

  .very__bottom {
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .bottom__logo,
  .copyright {
    padding-bottom: 32px;
  }

  .bottom__buttons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  /* SERCIVES */

  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-right: 0px !important;
  }

  .services__item--text-container {
    text-align: center;
    margin: 0 auto;
    padding-right: 0;
  }

  .services__item--title {
    padding-top: 12px;
  }

  .quality__image--wrapper {
    padding-bottom: 24px;
  }

  .bottom__text {
    font-size: 1.4rem;
  }
}
